.date-range{
  display: flex;
  background-color: $dateRangeBg;

  & .react-datepicker{
    border: 0;
  }

  & .react-datepicker .react-datepicker__header{
    border-radius: 0;
    border: 0;
    background-color: $dateRangeBg;

    & .react-datepicker__current-month{
      font-weight: normal;
    }
  }

  & .react-datepicker .react-datepicker__month{
    background-color: $dateRangeBg;
    margin: 0;
    padding: 6px;
  }

}
