.draw {
  .buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    button {
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
  .ant-drawer-wrapper-body, .ant-drawer-header {
    background: $modalBackground;
  }
  .ant-drawer-header {
    background: $modalBackground;
    border: 1px solid $modalBackground;
  }
}

.draw-item {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 5px 0;
  padding: 5px 10px;
  cursor: move;
  background: $light-green;
}

