.image-viewer-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover .image-viewer-overlay {
    background: rgba(0, 0, 0, 0.2);

    & span {
      opacity: 1;
      transition: 0.5s;
    }
  }
}
.image-viewer-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: 0.3s;

  & span {
    opacity: 0;
    transition: 0.2s;
  }
}

.image-viewer-big-img {
  width: 100%;
  margin-top: 20px;
}

.image-viewer-big-img::selection,
.image-viewer-content img::selection {
  background-color: #fff;
}
