.ant-modal-body {
  padding: 0 24px 24px;
  background: $modalBackground;
}

.ant-modal-header {
  background: $headerColor;
  .ant-modal-title {
    color: #fff;
  }
  border: 0;
}

.ant-modal-close-icon {
  color: #fff;
}

.ant-modal-footer {
  background: $modalBackground;
}
