// PAGINATION STYLES
.pagination-wrapper {
  display: flex;
  align-items: center;
  .pagination {
    margin: 0 10px;
  }
  ul {
    list-style-type: none;
    display: flex;
  }
  li {
    padding: 3px 5px;
    a {
      color: #333;
    }
  }

  .active {
    background: #ecf2fa;
    border-radius: 3px;
  }
}
