// PAGINATION STYLES
.pagination-wrapper {
  display: flex;
  align-items: center;
  .pagination {
    margin: 0 10px;
  }
  span.ant-select-selection-item,
  span.ant-select-arrow,
  .pagination-color {
    color: $paginationColor;
  }
}

.paginate {
  display: flex;
  align-items: center;
  .ant-typography {
    cursor: pointer;
    margin: 0 5px;
    color: $paginationColor;
  }
}
body {
  .ant-typography-disabled{
    display: none;
  }
}
