// PAGINATION STYLES
.pagination-wrapper {
  display: flex;
  align-items: center;
  .pagination {
    margin: 0 10px;
  }
}

.paginate {
  display: flex;
  align-items: center;
  .ant-typography {
    cursor: pointer;
    margin: 0 5px;
  }
}
