.park-info {
  p {
    color: $modalText;
    margin: 0;
  }

  span {
    color: $modalSubHeader;
  }

  h3, h2 {
    color: $modalText;
  }

  &__outline {
    margin-bottom: 25px;
  }

  .ant-row {
    margin-bottom: 20px;
  }
}
