.parks-search {
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  align-items: center;

  & > div {
    margin-right: 5px;
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  & .search-input {
    width: 300px;
  }

  .simple-select {
    border: 1px solid $color-border;
    background-color: #fff;
  }

  .ant-input-affix-wrapper {
    height: 34px;
    border-color: $color-border;
  }

  .reload {
    font-size: 18px;
  }
}
