.park-cluster {
  .paginate {
    justify-content: flex-end;
    margin-top: 20px;
  }

  .clusters-spin {
    text-align: center;
    margin-top: 20px;
  }

  .parks-clusters-thumb {
    margin: 10px;
  }

  .clusters-img-empty {
    margin: 10px;
  }

  tr.gray {
    background: $tableRowGray;
  }
}
