.park-modal-tabs {
  .ant-tabs-nav-list {
    width: 100%;
    .ant-tabs-tab {
      flex: 0.5;
      display: block;
      text-align: center;
      color: $filtersHeader;
    }
    .ant-tabs-tab-active {
      color: $filtersHeader;
    }
  }
}
