.park-info {
  p {
    color: $modalText;
    margin: 0;
  }

  span {
    color: $modalSubHeader;
  }

  h3,
  h2 {
    color: $filtersHeader;
  }

  &__outline {
    margin-bottom: 25px;
  }
  .ant-row {
    margin-bottom: 20px;
  }

  .ant-select-selector {
    padding: 0 !important;
  }
}

.select-low {
  color: $color-low;

  &.ant-select-item-option-selected {
    background-color: rgba($color-low, 0.25);
    color: $color-low;
  }

  & .ant-select-selection-item {
    color: $color-low;
  }
}

.select-middle {
  color: $color-middle;

  &.ant-select-item-option-selected {
    background-color: rgba($color-middle, 0.25);
    color: $color-middle;
  }

  & .ant-select-selection-item {
    color: $color-middle;
  }
}

.select-critical {
  color: $color-critical;

  &.ant-select-item-option-selected {
    background-color: rgba($color-critical, 0.25);
    color: $color-critical;
  }

  & .ant-select-selection-item {
    color: $color-critical;
  }
}
