.progress {
  span {
    color: $green;
    &:first-child {
      color: $red;
    }
  }
  i {
    background: $green;
    height: 7px;

    &:first-child {
      background: $red;
    }
  }

  &__percent,
  &__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__line {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }
}
