body {
  .simple-select {
    border-bottom: 1px solid #eee;
  }

  .ant-select-selector {
    background: $modalBackground;
  }

  .simple-select-yellow {
    .ant-select-selection-item {
      color: $color-middle;
    }
  }

  .simple-select-green {
    .ant-select-selection-item {
      color: $color-low;
    }
  }

  .simple-select-red {
    .ant-select-selection-item {
      color: $color-critical;
    }
  }
}
