.simple-select {
 border-bottom: 1px solid #eee;
}

.ant-select-selector {
  background: $modalBackground;
}

.select-low {
  span {
    color: #6ab03d;
  }
}

.select-high {
  span {
    color: #F2994A;
  }
}

.select-critical {
  span {
    color:  #F26161;
  }
}