.ant-tabs-nav  {
  .ant-tabs-tab-active {
    color: $green;
  }
  .ant-tabs-tab-active, .ant-tabs-tab {
    &:hover {
      color: $green;
    }
    &:active {
      color: $green;
    }
    &:focus {
      color: $green;
    }
  }
}

.ant-tabs-ink-bar {
  background-color: $green;
}
