.ant-tabs-nav {
  .ant-tabs-tab-active {
    color: $blue;
  }
  .ant-tabs-tab-active,
  .ant-tabs-tab {
    &:hover {
      color: $blue;
    }
    &:active {
      color: $blue;
    }
    &:focus {
      color: $blue;
    }
  }
}

.ant-tabs-ink-bar {
  background-color: $blue;
}
