body {
  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
  }
  .ant-layout-sider {
    background: $bg;
    height: 100vh;
    overflow: hidden;
    position: fixed;
  }
}

.ant-space {
  margin: 5px 0;
  height: 34px;
  cursor: pointer;
  span {
    padding-right: 10px;
  }
}

.sider-header {
  background: $blue;
  width: 100%;
  height: 150px;
  padding: 10px;

  .logo {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 5px 0 35px 0;
    cursor: pointer;
    span {
      margin-right: 15px;
      color: #fff;
      font-size: 17px;
      white-space: nowrap;
    }
    span:first-child {
      margin-top: 5px;
    }
  }

  .user {
    display: flex;
    justify-content: left;

    .ant-avatar {
      border: 1px solid #fff;
      margin-right: 10px;
      margin-top: 5px;
      flex: 0 0 auto;
    }

    &__text {
      float: left;
      color: #fff;
      white-space: nowrap;
      p {
        font-size: 10px;
      }

      h3 {
        color: #fff;
        margin: 0;
      }
    }
  }
}

.small {
  width: 50px !important;
  min-width: 50px !important;
  max-width: 50px !important;
  flex: 0 0 50px !important;
  box-shadow: unset;

  .sider-header {
    border-radius: 0 0 50px 50px;
    overflow: hidden;
  }

  .options {
    padding-left: 13px;
  }
}

.options {
  padding: 25px 22px;
  display: flex;
  flex-direction: column;
  span {
    color: $text;
  }
}

.span-link {
  color: $text;
  &:hover {
    color: $text;
  }
}

.sidebar-theme-header {
  color: $filtersHeader;
}
