.ant-table-tbody > tr > td,
.ant-table-column-sorters {
  padding: 5px;
  text-align: center;
}

.ant-table-thead th.ant-table-column-has-sorters,
.ant-table-thead > tr > th {
  text-align: center;
  background: $white;
}

.ant-table-content {
  background: $white;
}

.ant-table-row {
  border: 1px solid $white;
}

.ant-table-thead > tr > th {
  color: $tableHeader;
}
