.main-screen {
  display: flex;
  &__challenges {
    width: 32%;
    padding: 25px 15px 0 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #f5faff;
  }
  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h3 {
      font-size: 18px;
    }
  }
  &__cards {
    overflow: scroll;
  }
  &__map {
    width: 63%;
    object-fit: cover;
    height: 100vh;
  }
}
