.sidebar {
  background: #464ab3;
  width: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  span {
    color: #ffffff;
  }
  &__logo {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      background: transparent url("../../img/svg/logo-small.svg") no-repeat;
      width: 53px;
      height: 59px;
      border: none;
      margin-bottom: 10px;
    }
    span {
      font-size: 10px;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
  }
  &__exit {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: url("../../img/svg/exit.svg") no-repeat;
    width: 25px;
    height: 25px;
  }
}
