.tab {
  background: transparent;
  border-radius: 10px;
  width: 100%;
  border: none;
  margin-bottom: 39px;
  span {
    font-size: 8px;
    display: block;
  }
  a {
    font-size: 8px;
    padding: 10px 0;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    img {
      margin-bottom: 5px;
    }
  }
  &__active {
    background: #7A7FCA;
  }
}