.parks {
  background: $white;
  padding: 15px;

  h3 {
    color: $text;
  }

  &__title {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      margin-left: 10px;
      font-size: 22px;
      color: $light-grey;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
}
