.parks-content {
  margin-left: 256px;
  transition: ease 0.8s;
}

.no-margin {
  transition: ease 0.2s;
  margin-left: 50px;
}

.parks {
  background: $white;
  padding: 15px;
  overflow: auto;
  tr {
    cursor: pointer;
  }

  tr.green {
    background: $tableRowGreen;
  }

  tr.red {
    background: $tableRowRed;
  }

  tr.yellow {
    background: $tableRowYellow;
  }

  h3 {
    color: $headerText;
  }

  &__title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      margin-left: 10px;
      font-size: 22px;
      color: $iconColor;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}
