.login-form-wrap-container {
    background: url('../static/login-background-pic.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 800px;
    width: 100%;
    
}