// LIGHT THEME
html {
  --bg: #fff;
  --text: #5a5a5a;
  --headerText: #5a5a5a;
  --iconColor: #818E9B;
  --blue: #3F7ABF;
  --white: #fff;
  --green: #58A621;
  --grey: #747474;
  --light-grey: #818E9B;
  --red: #F26161;
  --contentColor: #e6ede0;
}
// DARK THEME
html[theme='dark'] {
  --bg: #5287c5;
  --text: #fff;
  --headerText: #000;
  --iconColor: #fff;
  --blue: #3F7ABF;
  --white: #fff;
  --green: #58A621;
  --grey: #747474;
  --light-grey: #818E9B;
  --red: #F26161;
  --contentColor: #3e7417;
}

// COLORS
$blue: var(--blue);
$text: var(--text);
$headerText: var(--headerText);
$iconColor: var(--iconColor);
$bg: var(--bg);
$white: var(--white);
$green: var(--green);
$light-green: #eef6e9;
$grey: var(--grey);
$light-grey: var(--light-grey);
$red: var(--red);
$contentColor: var(--contentColor);

// BORDERS
$radius3: 3px;
$radius5: 5px;

body {
  background-color: $contentColor;
}

// =============== КЛАССЫ ДЛЯ ЦВЕТ ТЕКСТА ============ //
.radius3{
  border-radius: $radius3;
}

.radius5{
  border-radius: $radius5;
}

// =============== КЛАССЫ ДЛЯ ЦВЕТ ТЕКСТА ============ //
.color-blue {
  color: $blue;
}

.color-text {
  color: $text;
}

.color-grey {
  color: $grey;
}

.color-red {
  color: $red;
}

.color-light-grey {
  color: $light-grey;
}

.color-white {
  color: $white;
}

// =============== КЛАССЫ ДЛЯ ЦВЕТ ФОНА ============ //
.bg-green {
  background-color: $green;
}

.bg-blue {
  background-color: $blue;
}

.bg-red {
  background-color: $red;
}
